@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hola bienvenidos</h1>
    <p> En esta pagina encontras diferentes metricas de la Gasolina en México</p>
    <p>en esta web puedes obtener mucho información que te será de utilidad</p>
    <img src="~/images/1.jpg" alt="Una imagen de ejemplo" style="width: 400px; height: 400px;" />

</div>
