@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "metricas";
}

<style>

</style>

<script>

</script>


<h1>Metricas Estadisticas</h1>
<p>En esta pagina podemos observar algunas de nuestras metricas de las bases de datos
    que usamos gracias al webscrapping
</p>
<br />
<h2>Precios de la Gasolina y tendencia </h2>
<img src="~/images/grafica1.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Media </h2>
<img src="~/images/media.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Desviación estandar </h2>
<img src="~/images/desviacion.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Máximo </h2>
<img src="~/images/maximo.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Mediana </h2>
<img src="~/images/mediana.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Minimo </h2>
<img src="~/images/minimo.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Moda </h2>
<img src="~/images/moda.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Percentil 25 </h2>
<img src="~/images/percentil.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Percentil 75 </h2>
<img src="~/images/percentil2.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Rango </h2>
<img src="~/images/rango.png" alt="tabla estacion" style="width: 600px; height: 400px;" />
<br />
<h2>Varianza </h2>
<img src="~/images/varianza.png" alt="tabla estacion" style="width: 600px; height: 400px;" />