@{
    ViewData["Title"] = "Tablas Estadísticas";
}
<h1>@ViewData["Title"]</h1>

<p>En esta página puedes ver las diferentes tablas </p>
<br />
<h2>Estacion de Gas</h2>
<img src="~/images/tabla1.png" alt="tabla estacion" style="width: 1000px; height: 250px;" />
<br />
<h2>Tipo de Gas</h2>
<img src="~/images/tabla2.png" alt="tabla estacion" style="width: 1000px; height: 250px;" />
<br />
<h2>Precio Historico De La Gas</h2>
<img src="~/images/precio historico.png" alt="tabla estacion" style="width: 1000px; height: 300px;" />
<br />
<h2>Precio Promedio por tipo de Combustible</h2>
<img src="~/images/precioprom.png" alt="tabla estacion" style="width: 1000px; height: 250px;" />